// --------------------------------
// - VARIABLES
// --------------------------------
// Example of how to manage your global variables

$bg-color: #3F51B5;
$font-color: #e1e1e1;
$link-color: #C5CAE9;
$nav-color: #7986CB;

$header-font: 'Abel', sans-serif;
$body-font: 'Ubuntu', sans-serif;